* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  display: flex;
  justify-content: center;
}
#main {
  width: 1440px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#navigation {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
#logo {
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
}
#navigation a {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  color: black;
}
#navigation a:hover {
  color: #bcbf63;
}
