* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  display: flex;
  justify-content: center;
}
#main {
  width: 1440px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
#navigation {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
#logo {
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
}
#navigation a {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  color: black;
}
#navigation a:hover {
  color: #bcbf63;
}
#projects {
  grid-column: 2/5;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
#archiprojects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  text-decoration: none;
  color: black;
  overflow: hidden;
}
.caption {
  opacity: 0;
  padding: 100px 50px;
}
.caption:hover {
  opacity: 1;
}
.item-link:hover,
.graphics:hover {
  opacity: 0.5;
}
#iceland {
  background: url(iceland/Vizualizacija3a.jpg);
  background-size: cover;
}
#ptuj {
  background: url(Ptuj/Načrti\ hiša.jpg);
  background-size: cover;
}
#villars {
  background: url(Villars/Koncept.jpg);
  background-size: cover;
}
#roška {
  background: url();
  background-size: cover;
}
#gospodarc {
  background: url(GospodarskoRazstavišče/PREZENTACIJA22.jpg);
  background-size: cover;
}
#kmš {
  background: url(PisarnaKMŠ/00.jpg);
  background-size: cover;
}
#kamnica {
  background: url(VilaKamnica/render10_edit.jpg);
  background-size: cover;
}
#magistrska {
  background: url(MagistrskaIntex/VizualizacijaBar.jpg);
  background-size: cover;
}
